# Python virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Python build files
build/
dist/
*.egg-info/

# Local environment/secrets
.env
.env.*

# Dataset audio files
data/raw/**/*.wav

# Generated processed images
data/processed/**/*.png